.form__divs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 30%;
}
.form input {
    width: 100%;
    outline: none;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem 1rem;
}
.form button {
    width: 30%;
    border-radius: 0.3rem;
    border: transparent;
    color: var(--color-white);
    background-color: var(--color-oran);
    box-shadow: var(--box-shadow);
    outline: none;
    padding: 0.5rem;
   
}